@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(243, 93, 6);
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 8px 0px;
}

.row input{
    font-size: 20px;
    margin: 0;
    padding: 11px 25px;
    border: 3px solid rgb(88, 6, 170);
    border-radius: 6px;
}
